/* colors */
@import url('./childs/colors.css');
/* alert */
@import url('./childs/alert.css');
/* card */
@import url('./childs/card.css');
/* navbar */
@import url('./childs/navbar.css');

/* general */
body {
    font-family: "Nunito Sans", sans-serif;
    background-color: var(--body-bg);
}
section.bg-light {
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
}
.pagination {
    .page-link {
        color: var(--main);
    }
    .active>.page-link, .page-link.active  {
        border-color: var(--main);
        background-color: var(--main);
        color: var(--white);
    }
}
.main_404 {
    height: calc(100vh - 100px);

    .title {
        width: 100%;
    }
}
footer {
    border-top: 2px solid var(--green);
    border-bottom: 1px solid var(--green);
}

@media screen and (min-width: 576px) {
    .card, .comments-container {
        margin: auto;
        max-width: 420px;
    }
}

@media screen and (min-width: 768px) {
    .card {
        margin-left: unset;
        height: 90%;
    }
    .single-product {
        .card-product {
            height: 100%;
        }
    }
    .comments-container {
        max-width: 720px;
    }
}